In [ ]:
##  Create a class Circle with a constructor that takes the radius.
##  Add a method calculate_area that calculates the area of the circle and a method calculate_circumference that calculates
#   the circumference.
##  Create a circle instance, calculate its area and circumference, and print the results

In [ ]:
class Circle:
  def __init__(self,r):
    self.r=r

  def calculate_area(self):
    return (22/7)*(self.r**2)

  def calculate_circumference(self):
    return 2*(22/7)*self.r

  def display(self):
    print("Area of the Circle is:",self.calculate_area())
    print("Circumference of the Circle is:",self.calculate_circumference())

In [ ]:
c=Circle(12)

In [ ]:
c.display()

Area of the Circle is: 452.57142857142856
Circumference of the Circle is: 75.42857142857143

In [ ]:
# Create a class TemperatureConverter with methods celsius_to_fahrenheit and fahrenheit_to_celsius that
# convert temperatures between Celsius and Fahrenheit.
# Create an instance of the class, convert 25°C to Fahrenheit and 77°F to Celsius, and print the results

In [ ]:
class TemperatureConverter:
  def celsius_to_fahrenheit(self,c):
    print(f"After conversion into Farenheit, temp= {(((c*9)/5)+32)}")

  def fahrenheit_to_celsius(self,f):
    print(f"After conversion into Celsius, temp= {(((f-32)*5)/9)}")

In [ ]:
t=TemperatureConverter()
t.celsius_to_fahrenheit(25)
t.fahrenheit_to_celsius(77)

After conversion into Farenheit, temp= 77.0
After conversion into Celsius, temp= 25.0

In [ ]:
##  Create a class Bank with a constructor that initializes an empty list accounts.
##  Add methods create_account that creates a bank account, get_account_balance that returns the account
# balance, and transfer that transfers funds between accounts.
##  Create a bank instance, create two accounts, transfer $200 from one account to another, and print the account balances.

In [1]:
class Bank:
  def __init__(self,size):
    self.size=size
    self.a=[[] for i in range(self.size)]
  def create_account(self,name,dob):
    self.name=name
    self.amt=5000
    self.dob=dob
    id=self.hashing(name)
    self.a[id]={id:[self.name,self.amt,self.dob]}
    return self.a
  def hashing(self,name):
    hash=0
    for i in name:
      hash+=ord(i)
    return hash%self.size

  def get_account_balance(self,name):
    # print(self.a)
    id=self.hashing(name)
    for i in range(len(self.a)):
      # print(i)
      if(type(self.a[i])==dict) and (id in self.a[i].keys()) and (self.a[i][id][0]== name):
        # print(self.a[i][id])
        return (f"Balance of {name}=",self.a[i][id][1])


  def transfer(self,fro,to,amt):
    id1=self.hashing(fro)
    id2=self.hashing(to)
    for i in range(len(self.a)):
      if(type(self.a[i])==dict)and (id1 in self.a[i].keys()) and (fro in self.a[i][id1]) :
        self.a[i][id1][1]-=amt
      if(type(self.a[i])==dict)and (id2 in self.a[i].keys()) and (to in self.a[i][id2]) :
        self.a[i][id2][1]+=amt

In [2]:
b=Bank(10)

In [3]:
b.create_account("Tahseen","30/10/1999")
b.create_account("Abdullah","25/12/2001")

[[],
 [],
 {2: ['Tahseen', 5000, '30/10/1999']},
 [],
 [],
 [],
 [],
 {7: ['Abdullah', 5000, '25/12/2001']},
 [],
 []]

In [4]:
b.transfer("Abdullah","Tahseen",200)

In [5]:
print(b.get_account_balance("Abdullah"))
b.get_account_balance("Tahseen")

('Balance of Abdullah=', 4800)

('Balance of Tahseen=', 5200)