In [ ]:
#     *
#    **
#   ***
#  ****
# *****

s=4
a=1
while(s>=0):
  print((" "*s)+("*"*a))
  a+=1
  s-=1

    *
   **
  ***
 ****
*****

In [ ]:
s=4
for a in range(1,6):
  print((" "*s)+("*"*a))
  s-=1

    *
   **
  ***
 ****
*****

In [ ]:
#     *
#    ***
#   *****
#  *******
# *********
a=1
for i in range(4,-1,-1):
  print((" "*i)+("*"*a))
  a+=2

    *
   ***
  *****
 *******
*********

In [ ]:
s=4
a=1
while(s>=0):
  print(" "*s+"*"*a)
  s-=1
  a+=2

    *
   ***
  *****
 *******
*********

In [ ]:
# *********
#  *******
#   *****
#    ***
#     *
a=9
for i in range(0,5):
  print((" "*i)+("*"*a))
  a-=2

*********
 *******
  *****
   ***
    *

In [ ]:
a=9
s=0
while(a>=1):
  print()

In [ ]:
#     *
#    ***
#   *****
#  *******
# *********
#  *******
#   *****
#    ***
#     *

a=1
for i in range(4,-1,-1):
  print((" "*i)+("*"*a))
  a+=2
a=7
for i in range(1,5):
  print((" "*i)+("*"*a))
  a-=2

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
# 2 9
# 3 8
# 4 7
# 5 6
# 6 5
# 7 4
# 8 3
# 9 2
# 10 1
x=2
y=9
while(x<=10):
  print(x,end=" ")
  print(y)
  y-=1
  x+=1

2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2
10 1

In [ ]:
# 1
# 22
# 333
# 4444
# 55555
i=1
j=1
while(i<=5):
  print()
  while(j<=i):
    print(i,end="")
    j+=1

  j=1
  i+=1
print()
i=1
while(i<=5):
  d=str(i)
  print(i*d,end='')
  i+=1
  print()

1
22
333
4444
55555
1
22
333
4444
55555

In [ ]:
# 54321
# 4321
# 321
# 21
# 1

i=5
j=5
while(j>0):
  while(i>0):
    print(i,end="")
    i-=1
  print()

  j-=1
  i=j

54321
4321
321
21
1

In [ ]:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
# 11 12 13 14 15
i=1
j=1
a=1
while(i<=5):
  while(j<=i):
    print(a,end=" ")
    a+=1
    j+=1
  print()
  i+=1
  j=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
a=1
for i in range(1,6):
  for j in range(i):
    print(a,end=" ")
    a+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
# 1  2  3  4  5
# 6  7  8  9
# 10 11 12
# 13 14
# 15

i=5
j=1
a=1
while(i>=0):
  while(j<=i):
    print(a,end="   ")
    j+=1
    a+=1
  j=1
  i-=1
  print()

1   2   3   4   5
6   7   8   9
10   11   12
13   14
15

In [ ]:
# 0 x 9 + 8 = 8
# 9 x 9 + 7 = 88
# 98 x 9 + 6 = 888
# 987 x 9 + 5 = 8888
# 9876 x 9 + 4 = 88888
# 98765 x 9 + 3 = 888888
# 987654 x 9 + 2 = 8888888
# 9876543 x 9 + 1 = 88888888
# 98765432 x 9 + 0 = 888888888
s=""

for i in range(10,1,-1):
  if(i==10):
    s="0"
    x=8
  else:
    s+=str(i)
    x=i-2
    #print(s,x)
  print(f"{(int(s))}X9+{x}={((int(s))*9)+x}")

0X9+8=8
9X9+7=88
98X9+6=888
987X9+5=8888
9876X9+4=88888
98765X9+3=888888
987654X9+2=8888888
9876543X9+1=88888888
98765432X9+0=888888888

In [ ]:
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25
# 6 12 18 24 30 36
# 7 14 21 28 35 42 49
# 8 16 24 32 40 48 56 64
# 9 18 27 36 45 54 63 72 81
# 10 20 30 40 50 60 70 80 90 100
i=1
j=1
while(i<=10):
  while(j<=i):

    print(i*j,end=" ")
    j+=1
  print()
  j=1
  i+=1

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range(1,11):
  for j in range(1,i+1):
    print(i*j,end=" ")

  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [ ]:
#              1
#            2 3
#          4 5 6
#       7 8 9 10
# 11 12 13 14 15
a=1
j=1
k=2
for i in range(13,4,-2):
  if(i==5):
    i=0
    print(" "*i,end="")
  elif(i==7):
    i=6
    print(" "*i,end="")
    i=7
  else:
    print(" "*i,end="")
  for j in range(1,k):
    print(a,end=" ")
    a+=1
  k+=1


  print()

             1
           2 3
         4 5 6
      7 8 9 10
11 12 13 14 15

In [ ]:

a=1
k=2
s=13
j=1
while(s>=0):
  print(" "*s,end="")

  if(s==13 or s==11):
    s-=2
  elif(s==9):
    s-=3
  elif(s==6):
    s=0
  else:
    s-=1



  while j in range(1,k):

    print(a,end=" ")
    a+=1
    j+=1
  k+=1
  j=1
  print()

             1
           2 3
         4 5 6
      7 8 9 10
11 12 13 14 15

In [ ]:
# A
# A A
# A A A
# A A A A
# A A A A A

i=1
while(i<=5):
  print("A "*i)

  i+=1

A
A A
A A A
A A A A
A A A A A

In [ ]:
# A
# AB
# ABC
# ABCD
# ABCDE

a="ABCDE"

for i in range(0,len(a)+1):
  if(i==0):
    continue
  else:
    print(a[0:i])

A
AB
ABC
ABCD
ABCDE

In [ ]:
a="ABCDE"
i=0
while i in range(len(a)):
  print(a[0:i+1])
  i+=1

A
AB
ABC
ABCD
ABCDE

In [ ]:
#   A
#  ABC
# ABCDE
a="ABCDE"
j=0
for i in range(2,-1,-1):
  print(" "*i,end="")
  while(j<=len(a)):
    j+=2
    print(a[0:j-1])
    break

  A
 ABC
ABCDE

In [ ]:
a="ABCDE"
s=2
i=0
while i in range(0,len(a)):
  print(" "*s,end="")
  print(a[0:i+1])
  i+=2
  s-=1

  A
 ABC
ABCDE

In [ ]:
# A
# BC
# DEF
# IJKL
# MNOPQ
# RSTUVW

#0,1
#1,3
#3,6
#6,10
#10,15
#15,21
x=0
y=1
z=0
a="ABCDEFIJKLMNOPQRSTUVW"
for i in range(0,6):

  y-=1
  x=int((y*(y+1))/2)
  y+=1
  z=int((y*(y+1))/2)


  y+=1

  print(a[x:z])

A
BC
DEF
IJKL
MNOPQ
RSTUVW

In [ ]:
a="ABCDEFIJKLMNOPQRSTUVW"
k=0
l=0
c1=1
c=0
while l in range(0,6):
  while c in range(0,l+1):
    print(a[k],end="")
    k+=1
    c+=1
  print()
  c=0
  l+=1

A
BC
DEF
IJKL
MNOPQ
RSTUVW

In [ ]:
#   A
#  BCD
# EFGHI

def func(a):
  x=1
  d=2
  b=0
  for i in range(1,6,2):
    print(" "*d,end="")
    d-=1
    for j in range(i):
      print(a[b],end="")
      b+=1
    print()
func("ABCDEFGHI")

  A
 BCD
EFGHI

In [ ]:
def patt(a):
  r=0
  s=2
  b=0
  i=1
  while i in range(1,6):
    print(" "*s,end="")
    s-=1
    while r in range(0,i):

      print(a[b],end="")
      b+=1
      r+=1

    i+=2
    print()

patt("ABCDEFGHI")

  A
 BC
DE